body {
  margin: 0px;
}

.nav-list {
  list-style-type: none;
  margin: inherit;
  padding-left: 0pt;
}

.list-item {
  float: left;
  padding: 32px 32px;
  color: var(--white);
  background-color: var(--green);
}

.list-item:hover {
  color: var(--black);
  background-color: var(--orange);
}

.nav-link {
  color: inherit;
  text-decoration: none;
}